* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000000d4;
  font-family: Poppins, serif;
}

.splash-screen div {
  width: 100%;
}

.splash-screen p {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: 150px;
}

.splash-screen button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 60px;
  color: #fff;
  background-color: #538d22;
  position: relative;
  top: 250px;
  border: none;
  font-weight: bolder;
}

.splash-screen a {
  text-decoration: none;
}

.splash-screen {
  width: 30%;
  height: 120vh;
  background: #d8f3dc;
  margin: auto;
  margin-top: 10px;
}

.splash-screen .undraw_reminders {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 100px;
}

.splash-screen h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: 130px;
  left: 10px;
}

.Registration button {
  display: block;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 60px;
  color: #fff;
  background-color: #538d22;
  position: relative;
  top: 140px;
  border: none;
  font-weight: bolder;
}

#login {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: 180px;
}

#Register {
  text-decoration: none;
}

.Registration {
  width: 30%;
  height: 120vh;
  background: #d8f3dc;
  margin: auto;
  margin-top: 10px;
}

.Registration h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  top: 50px;
  text-align: center;
}

.Registration p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  top: 80px;
  text-align: center;
}

.Registration form input {
  display: block;
  margin: 20px;
  text-align: center;
  align-items: center;
  position: relative;
  top: 100px;
  padding: 10px;
  width: 80%;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  border-radius: 40px;
}

.Registration img {
  width: 50%;
}

.Registration p a {
  text-decoration: none;
  color: #38c24e;
}
